@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    font-family: 'Cinzel', serif;
}

#video__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.star__game {
    padding: 2vh;
    margin-top: 35vh;
    display: flex;
    justify-content: center;
}

.article__star {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    text-align: center;
    width: 90%;
}

.title__start h1 {
    font-family: "frost-scream";
    font-size: 500%;
    color: var(--color-2);
    letter-spacing: clamp(4px, 0.8vw, 12px);
    text-shadow: 
        0px 0px 0 #f2ebeb,
        -1px 5px 0 #ffffff2e,
        4px 8px 0 #000000,
        0px 0px 0 #ffffff,
        0 1px 0 #ffffff,
        1px 0 0 red,
        0 0px 0 #ffffff,
        6px 8px 0 #f7f7f785;
}

.div__text-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 100%;
}

.div__text-start h3 {
    color: var(--color-1);
    text-shadow: 0px 0px 0 #f2ebeb, 0px 0px 0 #ffffff2e, 0px 0px 0 #000000, 0px 0px 0 #ffffff, 0px 0px 0 #ffffff, 0px 0 0 red, 0 0px 0 #ffffff, 3px 2px 20px #fffffff7;
    font-size: 200%;
    font-family: "Jacquard24-Regular";
    font-weight: 200;
}

/************ Botón **************/
.button__game {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: clamp(180px, 40vw, 300px);
    aspect-ratio: 5 / 2;
}

.button__game:hover {
    transform: scale(1.05);
}

.button__game img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "frost-scream", serif;
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: var(--color-1);
    text-shadow: 0 0 10px white;
    pointer-events: none;
}

.text__button:hover {
    transform: scale(1.1);
}

/*************** Transición **********************/
.transition-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    z-index: 9999;
}

.transition-screen.active {
    opacity: 1;
    pointer-events: all;
}
