:root{
    --color-1: #fffacd;
    --color-2: #a12f2f;
}
@font-face {
    font-family: "frost-scream";
    src: url(../assets/font/frost-scream/Frost\ Scream.otf);
}
@font-face {
    font-family: "Jacquard24-Regular";
    src: url(../assets/font/Jacquard_24/Jacquard24-Regular.ttf);
}
@font-face {
    font-family: "Kanit-Light";
    src: url(../assets/font/Kanit/Kanit-Light.ttf);
}
@font-face {
    font-family: "Kanit-SemiBoldItalic";
    src: url(../assets/font/Kanit/Kanit-SemiBoldItalic.ttf);
    font-family: "MedievalSharp-Regular";
    src: url(../assets/font/MedievalSharp/MedievalSharp-Regular.ttf);
}